<div>
  <div class="hero min-h-fit bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-xl">
        <h1 class="text-4xl font-bold">毎日の食事と排便を記録すると、<br>下痢・便秘の原因を自動で分析。<br>
        <br>
        あなたと食事の相性を教えます。</h1>
        <p class="py-6">ページ右上のLINE連携ログインから始めましょう。</p>
      </div>
    </div>
  </div>

  <div class="lg:flex justify-center items-center gap-4 space-y-4">
    <div class="card w-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">1.記録する</h2>
        <p>あなたの毎日の食事、排便の状態を記録しましょう。</p>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">2.アプリがあなたの胃腸を分析</h2>
        <p>記録するほど、アプリがあなたの胃腸を理解していきます。<br></p>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">3.食事との相性が分かる</h2>
        <p>アプリがあなたに合った食事、<br>合っていない食事を教えてくれます。</p>
      </div>
    </div>
  </div>
  <div class="bg-base-200 pb-4"> 
    <div class="text-4xl font-bold max-w-3xl mx-auto md:h-3/4 lg:h-2/3 pt-4">
      詳しい説明
    </div>  
    <div class="space-y-4">
      <div class="flex justify-center items-center max-w-3xl mx-auto md:h-3/4 lg:h-2/3 pt-4">
        <%= button_to '前へ', decrement_path, method: :post, form: { data: { turbo_frame: "number_frame" } }, class: "btn btn-ghost bg-base-300 w-20" %>
        <%= turbo_frame_tag "number_frame" do %>
          <div id="page_value">
            <div class="w-24 text-center"><%= @number %> / 8</div>
          </div>
        <% end %>
        <%= button_to '次へ', increment_path, method: :post, form: { data: { turbo_frame: "number_frame" } }, class: "btn btn-ghost bg-base-300 w-20" %>
      </div>
      <div id="number-display">
        <%= turbo_frame_tag "number_frame" do %>
          <div id="number_value">
            <%= render "static_pages/description/content#{@number}" %>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center items-center max-w-3xl mx-auto md:h-3/4 lg:h-2/3 pt-4">
        <%= button_to '前へ', decrement_path, method: :post, form: { data: { turbo_frame: "number_frame" } }, class: "btn btn-ghost bg-base-300 w-20" %>
          <%= turbo_frame_tag "number_frame" do %>
            <div id="page_value2">
              <div class="w-24 text-center"><%= @number %> / 8</div>
            </div>
          <% end %>
        <%= button_to '次へ', increment_path, method: :post, form: { data: { turbo_frame: "number_frame" } }, class: "btn btn-ghost bg-base-300 w-20" %>
      </div>
    </div>
  </div>
</div>

