<% content_for :title, "マイページ" %>
<div class="bg-base-100 py-8">
  <div  data-controller="tab">
    <div id="tab-menu" class="flex text-xl 2xl:w-5/6 mx-auto">
      <%= link_to "#tab1", class: "tab-btn-1 [&.active]:bg-base-200 hover:text-blue-300 rounded-t-lg p-2 active", data: { action: "tab#showTab", tab_target: "link" } do %>
        <span class="block text-base sm:hidden">記録&<br>スコア</span>
        <span class="hidden sm:block">記録&スコア<span>
      <% end %>
      <%= link_to "#tab2", class: "tab-btn-2 ml-6 [&.active]:bg-base-200 hover:text-blue-300 rounded-t-lg p-2", data: { action: "tab#showTab", tab_target: "link" } do %>
        <span class="block text-base sm:hidden">食事<br>データ</span>
        <span class="hidden sm:block">食事データ<span>
      <% end %>
      <%= link_to "#tab3", class: "tab-btn-3 mx-2 [&.active]:bg-base-200 hover:text-blue-300 rounded-t-lg p-2", data: { action: "tab#showTab", tab_target: "link" } do %>
        <span class="block text-base sm:hidden">排便<br>データ</span>
        <span class="hidden sm:block">排便データ<span>
      <% end %>
      <%= link_to "#tab4", class: "tab-btn-4 [&.active]:bg-base-200 hover:text-blue-300 rounded-t-lg p-2", data: { action: "tab#showTab", tab_target: "link" } do %>
        <span class="block text-base sm:hidden">履歴&<br>設定</span>
        <span class="hidden sm:block">履歴&セッティング<span>
      <% end %>
    </div>

    <div id="tab-contents">
      <div id="tab1" data-tab-target="tab">
        <div class="py-8 bg-base-200 mx-auto grid grid-cols-1 md:grid-cols-2-minmax xl:grid-cols-3-minmax 2xl:w-5/6 gap-12 rounded-r-lg rounded-bl-lg">
          <div class="card min-w-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">食事の記録</h2>
              <%= form_with url: meals_path, class: "w-full max-w-md" do |f| %>
                <div class="md:flex md:items-center mb-6" data-controller="autocomplete" data-autocomplete-url-value="/users/search" role="combobox">
                  <div class="md:w-1/3">
                    <%= f.label :meal_name, "食事名", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
                  </div>
                  <div class="md:w-2/3">
                    <%= f.text_field :new_meal_name, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black", data: { autocomplete_target: "input" } %>
                    <%= f.hidden_field :meal_name, data: { autocomplete_target: "hidden" } %>
                    <ul class="list-group" data-autocomplete-target="results"></ul>
                  </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <%= f.label :meal_created_at, "食べた時間", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
                  </div>
                  <div class="md:w-2/3">
                    <%= f.datetime_field :meal_created_at, value: Time.current.strftime('%Y-%m-%dT'), class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black" %>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="w-1/3"></div>
                  <div class="w-2/3">
                    <%= f.submit "記録する", data: { turbo_frame: "meal_form_frame" }, class: "btn btn-ghost shadow bg-primary-content hover:bg-base-400 focus:shadow-outline focus:outline-none font-bold py-2 px-4 rounded-full meal-btn" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card min-w-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">排便の記録</h2>
              <%= form_with url: stools_path, class: "w-full max-w-md" do |f| %>
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <%= f.label :condition, "便の状態", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
                  </div>
                  <div class="md:w-2/3">
                    <%= f.select :condition, [["0.良い", 0], ["1.普通", 1], ["2.悪い", 2]], {include_blank: "選択して下さい"}, class: "bg-gray-200 border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black" %>
                  </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3">
                    <%= f.label :created_at, "出した日時", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
                  </div>
                  <div class="md:w-2/3">
                    <%= f.datetime_field :created_at, value: Time.current.strftime('%Y-%m-%dT'), class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-black" %>
                  </div>
                </div>
                <div class="flex items-center">
                  <div class="w-1/3"></div>
                  <div class="w-2/3">
                    <%= f.submit "記録する", class: "btn btn-ghost shadow bg-primary-content hover:bg-base-400 focus:shadow-outline focus:outline-none font-bold py-2 px-4 rounded-full stool-btn" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <div class="flex">
                <h2 class="card-title mr-4">マイスコア</h2>
                <div class="tooltip" data-tip="あなたがどれだけ記録を積み重ねたかを表すポイント">
                  <button class="w-6 h-6 rounded-full border border-black">？</button>
                </div>
              </div>
              <div class="flex items-center justify-center text-9xl my-score">
                <%= @log_count %>
              </div>
              <div class="text-right text-xl">ポイント</div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <div class="flex">
                <h2 class="card-title mr-4">連続記録日数</h2>
                <div class="tooltip" data-tip="今日の記録で何日連続で継続できているか">
                  <button class="w-6 h-6 rounded-full border border-black">？</button>
                </div>
              </div>
              <h3><strong>食事の連続記録日数</strong></h3>
              <div class="flex items-center justify-center text-7xl meal-log-days-record">
                <%= @meal_log_days_record %>
              </div>
              <div class="text-right text-3xl">日</div>
              <h3><strong>排便の連続記録日数</strong></h3>
              <div class="flex items-center justify-center text-7xl stool-log-days-record">
                <%= @stool_log_days_record %>
              </div>
              <div class="text-right text-3xl">日</div>
            </div>
          </div>  
        </div>
      </div>

      <div id="tab2" data-tab-target="tab">
        <div class="py-8 bg-base-200 mx-auto grid grid-cols-1 md:grid-cols-2-minmax xl:grid-cols-3-minmax 2xl:w-5/6 gap-12 rounded-lg">
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">月毎の記録回数：食事</h2>
              <div>
                <%= column_chart @eating_count_graph, xtitle: "月", ytitle: "記録回数" %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">週毎の記録回数：食事</h2>
              <div>
                <%= column_chart @eating_weekly_count_graph, xtitle: "週", ytitle: "記録回数" %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">日毎の記録回数：食事</h2>
              <div>
                <%= column_chart @eating_daily_count_graph, xtitle: "日", ytitle: "記録回数" %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <div class="flex">
                <h2 class="card-title mr-4">おすすめの食事</h2>
                <div class="tooltip" data-tip="良い状態の便の元となった可能性が高い食事">
                  <button class="w-6 h-6 rounded-full border border-black">？</button>
                </div>
              </div>
              <div class="max-h-72 overflow-auto recommend-meal">
                <% @recommend_meals.each do |recommend_meal| %>
                  <%= recommend_meal.meal_name %><br>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <div class="flex">
                <h2 class="card-title mr-4">避けるべき食事</h2>
                <div class="tooltip" data-tip="悪い状態の便の元となった可能性が高い食事">
                  <button class="w-6 h-6 rounded-full border border-black">？</button>
                </div>
              </div>
              <div class="max-h-72 overflow-auto avert-meal">
                <% @avert_meals.each do |avert_meal| %>
                  <%= avert_meal.meal_name %><br>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <div class="flex">
                <h2 class="card-title mr-4">登録済みの食事名一覧</h2>
                <div class="tooltip" data-tip="あなたが記録したことのある食事たち">
                  <button class="w-6 h-6 rounded-full border border-black">？</button>
                </div>
              </div>
              <div class="max-h-72 overflow-auto meal-log-index">
                <table class="table table-xs table-pin-rows table-pin-cols">
                  <thead>
                    <tr>
                      <th></th> 
                      <td>食事名</td> 
                      <td>記録回数</td> 
                      <th></th> 
                    </tr>
                  </thead> 
                  <% @meals.each do |meal| %>
                    <% meal_id = meal.id %>
                    <tbody>
                      <tr>
                        <th></th>
                        <td><%= meal.meal_name %></td>
                        <td><%= @my_meal_count[meal_id] %></td>
                        <th></th>
                      </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="tab3" data-tab-target="tab">
        <div class="py-8 bg-base-200 mx-auto grid grid-cols-1 md:grid-cols-2-minmax xl:grid-cols-3-minmax 2xl:w-5/6 gap-12 rounded-lg">
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">排便の状態：通算</h2>
              <div>
                <%= pie_chart @stool_condition_count, colors: ["#008000", "#ffa500", "#ff0000"] %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">月毎の記録回数：排便</h2>
              <div>
                <%= column_chart @stool_count_graph, xtitle: "月", ytitle: "記録回数" %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body text-center">
              <h2 class="card-title">胃腸の調子の推移</h2>
              <p>0:良い&nbsp;&nbsp;&nbsp;1:普通&nbsp;&nbsp;&nbsp;2:悪い</p>
              <div>
                <%= line_chart @user_condition_graph, xtitle: "日", ytitle: "便の状態", curve: false, height: "280px", library: { scales:{ y: { reverse: true} } } %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">排便の状態：今月</h2>
              <div>
                <%= pie_chart @stool_this_month_condition_count, colors: ["#008000", "#ffa500", "#ff0000"] %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">排便の状態：先月</h2>
              <div>
                <%= pie_chart @stool_last_month_condition_count, colors: ["#008000", "#ffa500", "#ff0000"] %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">週毎の記録回数：排便</h2>
              <div>
                <%= column_chart @stool_weekly_count_graph, xtitle: "週", ytitle: "記録回数" %>
              </div>
            </div>
          </div>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">日毎の記録回数：排便</h2>
              <div>
                <%= column_chart @stool_daily_count_graph, xtitle: "日", ytitle: "記録回数" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="tab4" data-tab-target="tab">
        <div class="py-8 bg-base-200 mx-auto grid grid-cols-1 md:grid-cols-2-minmax xl:grid-cols-3-minmax 2xl:w-5/6 gap-12 rounded-lg">
          <%= turbo_frame_tag "log_index_frame" do %>
            <%= render 'shared/log_index' %>
          <% end %>
          <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
            <div class="card-body">
              <h2 class="card-title">セッティング</h2>
              <div>
                <%= link_to (current_user.notifications_enabled ? "通知をオフにする" : "通知をオンにする"), toggle_notifications_user_path, data: { turbo_method: :post }, class: "bg-primary-content hover:bg-base-200 font-bold py-2 px-4 rounded-full w-20 notifications-btn" %>
              </div>
              <div class="pt-4">
                <% unless current_user.id == @recorded_test_user_id %>
                  <%= link_to 'ユーザーデータ削除', user_path(current_user), data: { turbo_method: :delete, turbo_confirm: '元には戻せませんが、本当に削除しますか？' }, class: "bg-red-600 hover:bg-base-200 font-bold py-2 px-4 rounded-full w-20 notifications-btn border-2 border-black text-black" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-controller="modal" data-modal-value="<%= @user_accepted %>">
  <dialog data-modal-target="dialog" class="md:w-1/2 h-3/4 rounded-xl">
    <div class="mx-auto md:w-5/6 h-5/6 md:mt-4 md:border md:border-black md:rounded-xl overflow-hidden border-b border-black">
    <div class="mx-auto w-full h-full overflow-auto rounded-xl">
      <h1 class="text-center py-8 text-4xl font-bold">利用規約</h1>
      <div class="px-4 pb-4">
        <p>この利用規約（以下，「本規約」といいます。）は，Puri.log（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。<br>
          登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
        </p>

        <h2 class="text-xl font-bold text-center py-8">第1条（適用）</h2>
        <p>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br>
          当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。<br>
          本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        </p>

        <h2 class="text-xl font-bold text-center py-8">第2条（利用登録）</h2>
        <p>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。<br>
          当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
        </p>
        <ul class="list-disc text-base pl-8 pt-4">
          <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
          <li>本規約に違反したことがある者からの申請である場合</li>
          <li>その他，当社が利用登録を相当でないと判断した場合</li>
        </ul>

        <h2 class="text-xl font-bold text-center py-8">第3条（ユーザーIDおよびパスワードの管理）</h2>
        <p>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。<br>
          ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。<br>
          ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。
        </p>

        <h2 class="text-xl font-bold text-center py-8">第4条（禁止事項）</h2>
        <p class="pb-4">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
          <ul class="list-disc text-base pl-8">
            <li>法令または公序良俗に違反する行為</li>
            <li>犯罪行為に関連する行為</li>
            <li>本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為</li>
            <li>当社，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
            <li>本サービスによって得られた情報を商業的に利用する行為</li>
            <li>当社のサービスの運営を妨害するおそれのある行為</li>
            <li>不正アクセスをし，またはこれを試みる行為</li>
            <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
            <li>不正な目的を持って本サービスを利用する行為</li>
            <li>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為</li>
            <li>他のユーザーに成りすます行為</li>
            <li>当社が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為</li>
            <li>面識のない異性との出会いを目的とした行為</li>
            <li>当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
            <li>その他，当社が不適切と判断する行為</li>
          </ul>

        <h2 class="text-xl font-bold text-center py-8">第5条（本サービスの提供の停止等）</h2>
        <p class="pb-4">当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
        <ul class="list-disc text-base pl-8">
          <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
          <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
          <li>コンピュータまたは通信回線等が事故により停止した場合</li>
          <li>その他，当社が本サービスの提供が困難と判断した場合</li>
          <li>当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</li>
        </ul>

        <h2 class="text-xl font-bold text-center py-8">第6条（利用制限および登録抹消）</h2>
        <p class="pb-4">当社は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。</p>
        <ul class="list-disc text-base pl-8">
          <li>本規約のいずれかの条項に違反した場合</li>
          <li>登録事項に虚偽の事実があることが判明した場合</li>
          <li>料金等の支払債務の不履行があった場合</li>
          <li>当社からの連絡に対し，一定期間返答がない場合</li>
          <li>本サービスについて，最終の利用から一定期間利用がない場合</li>
          <li>その他，当社が本サービスの利用を適当でないと判断した場合</li>
        </ul>
        <p class="pt-4">当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</p>

        <h2 class="text-xl font-bold text-center py-8">第7条（退会）</h2>
        <p class="pb-4">ユーザーは，当社の定める退会手続により，本サービスから退会できるものとします。</p>

        <h2 class="text-xl font-bold text-center py-8">第8条（保証の否認および免責事項）</h2>
        <p class="pb-4">当社は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。<br>
          当社は，本サービスに起因してユーザーに生じたあらゆる損害について、当社の故意又は重過失による場合を除き、一切の責任を負いません。ただし，本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。<br>
          前項ただし書に定める場合であっても，当社は，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。<br>
          また，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。<br>
          当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
        </p>

        <h2 class="text-xl font-bold text-center py-8">第9条（サービス内容の変更等）</h2>
        <p class="pb-4">当社は，ユーザーへの事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。</p>

        <h2 class="text-xl font-bold text-center py-8">第10条（利用規約の変更）</h2>
        <p class="pb-4">当社は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。</p>
        <ul class="list-disc text-base pl-8">
          <li>本規約の変更がユーザーの一般の利益に適合するとき。</li>
          <li>本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</li>
        </ul>
        <p class="pt-4">当社はユーザーに対し、前項による本規約の変更にあたり、事前に、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を通知します。</p>

        <h2 class="text-xl font-bold text-center py-8">第11条（個人情報の取扱い）</h2>
        <p class="pb-4">当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。</p>

        <h2 class="text-xl font-bold text-center py-8">第12条（通知または連絡）</h2>
        <p class="pb-4">ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。<br>
          当社は,ユーザーから,当社が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。
        </p>

        <h2 class="text-xl font-bold text-center py-8">第13条（権利義務の譲渡の禁止）</h2>
        <p class="pb-4">ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>

        <h2 class="text-xl font-bold text-center py-8">第14条（準拠法・裁判管轄）</h2>
        <p class="pb-4">本規約の解釈にあたっては，日本法を準拠法とします。
          本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。
        </p>
        <p class="text-right">以上</p>
      </div>
      </div>
    </div>
    
    <div class="pt-4 mx-auto flex justify-center md:w-3/4">
      <%= link_to '同意する',  accept_terms_user_path, class: "py-4 px-4 md:px-6 mr-8 bg-primary-content hover:bg-base-200 font-bold p-2 rounded-full inline-block", data: { turbo_method: :post } %>
      <%= link_to '同意しない', "#", class: "py-4 md:p-4 bg-base-300 hover:bg-base-200 font-bold p-2 rounded-full inline-block", data: { action: "modal#close" } %>
    </div>
  </dialog>
</div>