<div class="bg-base-200 space-y-10">
  <div class="md:flex justify-center items-center gap-4 space-y-4 mx-auto max-w-screen-md">
    <div class="card w-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">食事の記録</h2>
        <%= form_with url: meals_path, class: "w-full max-w-md" do |f| %>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <%= f.label :meal_name, "食事名", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
            </div>
            <div class="md:w-2/3">
              <%= f.text_field :meal_name, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
            </div>
          </div>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <%= f.label :created_at, "食べた時間", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
            </div>
            <div class="md:w-2/3">
              <%= f.datetime_field :created_at, value: Time.current.strftime('%Y-%m-%dT'), class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
            </div>
          </div>
          <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <%= f.submit "記録する", class: "btn btn-ghost shadow bg-base-300 hover:bg-base-400 focus:shadow-outline focus:outline-none font-bold py-2 px-4 rounded" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">排便の記録</h2>
        <%= form_with url: stools_path, class: "w-full max-w-md" do |f| %>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <%= f.label :condition, "便の状態", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
            </div>
            <div class="md:w-2/3">
              <%= f.select :condition, [["0.良い", 0], ["1.普通", 1], ["2.悪い", 2]], {include_blank: "選択して下さい"}, class: "bg-gray-200 border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
            </div>
          </div>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <%= f.label :created_at, "出した日時", class: "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
            </div>
            <div class="md:w-2/3">
              <%= f.datetime_field :created_at, value: Time.current.strftime('%Y-%m-%dT'), class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
            </div>
          </div>
          <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <%= f.submit "記録する", class: "btn btn-ghost shadow bg-base-300 hover:bg-base-400 focus:shadow-outline focus:outline-none font-bold py-2 px-4 rounded" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="md:flex justify-center items-center gap-4 space-y-4 mx-auto max-w-screen-md">
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">マイスコア</h2>
        <div class="flex items-center justify-center text-9xl">
          <%= @log_count %>
        </div>
        <div class="text-right text-xl">ポイント</div>
      </div>
    </div>
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">連続記録日数</h2>
        <h3><strong>食事の連続記録日数</strong></h3>
        <div class="flex items-center justify-center text-7xl">
          <%= @meal_log_days_record %>
        </div>
        <div class="text-right text-3xl">日</div>
        <h3><strong>排便の連続記録日数</strong></h3>
        <div class="flex items-center justify-center text-7xl">
          <%= @stool_log_days_record %>
        </div>
        <div class="text-right text-3xl">日</div>
      </div>
    </div>
  </div>
  <div class="md:flex justify-center items-center gap-4 space-y-4 mx-auto max-w-screen-md">
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">おすすめの食事</h2>
        <div class="max-h-72 overflow-auto">
          <% @recommend_meals.each do |recommend_meal| %>
            <p><%= recommend_meal.meal_name %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">避けるべき食事</h2>
        <div class="max-h-72 overflow-auto">
          <% @avert_meals.each do |avert_meal| %>
            <p><%= avert_meal.meal_name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex justify-center items-center gap-4 space-y-4 mx-auto max-w-screen-md">
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">記録回数の実績</h2>
        <div class="max-h-72 overflow-auto">
          <h3><strong>通算</strong></h3>
            <p>食事：<%= @eating_count %> 回</p>
            <p>排便：<%= @stool_count %> 回</p>
          <h3><strong>今月</strong></h3>
            <p>食事：<%= @this_month_eating_count %> 回</p>
            <p>排便：<%= @this_month_stool_count %> 回</p>
          <h3><strong>先月</strong></h3>
            <p>食事：<%= @last_month_eating_count %> 回</p>
            <p>排便：<%= @last_month_stool_count %> 回</p>
        </div>
      </div>
    </div>
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">登録済みの食事名一覧</h2>
        <div class="max-h-72 overflow-auto">
          <table class="table table-xs table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th></th> 
                <td>食事名</td> 
                <td>記録回数</td> 
                <th></th> 
              </tr>
            </thead> 
            <% @meals.each do |meal| %>
              <% meal_id = meal.id %>
              <tbody>
                <tr>
                  <th></th>
                  <td><%= meal.meal_name %></td>
                  <td><%= @my_meal_count[meal_id] %></td>
                  <th></th>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex justify-center items-center gap-4 space-y-4 mx-auto max-w-screen-md">
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">胃腸の状況</h2>
        <div class="max-h-72 overflow-auto">
          <h3><strong>便の状態ごとの記録回数(通算)</strong></h3>
            <p>良い：<%= @stool_good_count %> 回</p>
            <p>普通：<%= @stool_normal_count %> 回</p>
            <p>悪い：<%= @stool_bad_count %> 回</p>
          <h3><strong>便の状態ごとの記録回数(今月)</strong></h3>
            <p>良い：<%= @this_month_stool_good_count %> 回</p>
            <p>普通：<%= @this_month_stool_normal_count %> 回</p>
            <p>悪い：<%= @this_month_stool_bad_count %> 回</p>
          <h3><strong>便の状態ごとの記録回数(先月)</strong></h3>
            <p>良い：<%= @last_month_stool_good_count %> 回</p>
            <p>普通：<%= @last_month_stool_normal_count %> 回</p>
            <p>悪い：<%= @last_month_stool_bad_count %> 回</p>
        </div>
      </div>
    </div>
    <div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
      <div class="card-body">
        <h2 class="card-title">記録履歴一覧</h2>
        <div class="max-h-72 overflow-auto">
          <table class="table table-xs table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th></th> 
                <td>食事名</td> 
                <td>便の状態</td> 
                <td>記録日時</td> 
                <td>削除ボタン</td> 
                <th></th> 
              </tr>
            </thead> 
            <% @log_index.each do |log| %>
              <% if log.is_a?(Eating) %>
                <tbody>
                  <tr>
                    <th></th>
                    <td><%= log.meal.meal_name %></td>
                    <td>-</td> 
                    <td><%= log.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                    <% unless current_user.id == 2 %>
                      <td><%= link_to '削除', eating_path(log.id), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %></td>
                    <% end %>
                    <th></th>
                  </tr>
                </tbody> 
              <% elsif log.is_a?(Stool) %>
                <tbody>
                  <tr>
                    <th></th>
                    <td>-</td> 
                    <% if log.condition == "good" %>
                      <td>良い</td>
                    <% elsif log.condition == "normal" %>
                      <td>普通</td>
                    <% elsif log.condition == "bad" %>
                      <td>悪い</td>
                    <% else %>
                      <td><%= log.condition %></td>
                    <% end %>
                    <td><%= log.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                    <% unless current_user.id == 2 %>
                      <td><%= link_to '削除', stool_path(log.id), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %></td>
                    <% end %>
                    <th></th>
                  </tr>
                </tbody> 
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
