<div class="navbar bg-base-300 fixed top-0 left-0 w-full z-50">
  <div class="flex-1">
    <%= link_to 'Puri.log', root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none hidden sm:inline-block">
    <ul class="menu menu-horizontal px-1">
      <li><button onclick="my_modal_1.showModal()">LINE友達追加</button></li>
      <li><%= link_to 'マイページ', user_path(current_user) %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
  <div class="sm:hidden">
    <div class="dropdown dropdown-bottom dropdown-end border-none">
      <div tabindex="0" role="button" class="btn bg-header border-none">
        <svg class="h-10 w-10" role="button" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 12h16M4 16h16"></path>
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><button onclick="my_modal_1.showModal()" class="text-header transition-all duration-300">LINE友達追加</button></li>
        <li><%= link_to 'マイページ', user_path(current_user), class: "text-header transition-all duration-300" %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "text-header transition-all duration-300" %></li>
      </ul>
    </div>
  </div>
</div>

<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">LINE友達追加</h3>
      <img src="https://qr-official.line.me/gs/M_954plcez_BW.png?oat_content=qr" class="mx-auto">
      <a href="https://lin.ee/yVwXbVK"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" class="mx-auto" alt="友だち追加" height="36" border="0"></a>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>