<div class="card w-96 max-h-96 bg-base-100 shadow-xl mx-auto">
  <div class="card-body">
    <h2 class="card-title">記録履歴一覧</h2>
    <div class="flex">
      <%= link_to '古い順', sort_log_users_path(asc: "true"), data: { turbo_method: :post, turbo_frame: "log_index_frame" }, class: "bg-base-300 hover:bg-base-200 font-bold py-2 px-4 rounded-full w-20 asc-button" %>
      <%= link_to '新しい順', sort_log_users_path(desc: "true"), data: { turbo_method: :post, turbo_frame: "log_index_frame" }, class: "bg-base-300 hover:bg-base-200 font-bold py-2 px-4 rounded-full w-24 desc-button" %>
    </div>
    <div class="max-h-64 overflow-auto log-index">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th></th> 
            <td>食事名</td> 
            <td>便の状態</td> 
            <td>記録日時</td> 
            <td>削除ボタン</td> 
            <th></th> 
          </tr>
        </thead>
        <% @log_index.each do |log| %>
          <% if log.is_a?(Eating) %>
            <tbody>
              <tr>
                <th></th>
                <td><%= log.meal.meal_name %></td>
                <td>-</td> 
                <td><%= log.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                <% unless current_user.id == 2 %>
                  <td><%= link_to '削除', eating_path(log.id), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %></td>
                <% end %>
                <th></th>
              </tr>
            </tbody> 
          <% elsif log.is_a?(Stool) %>
            <tbody>
              <tr>
                <th></th>
                <td>-</td> 
                <% if log.condition == "good" %>
                  <td>良い</td>
                <% elsif log.condition == "normal" %>
                  <td>普通</td>
                <% elsif log.condition == "bad" %>
                  <td>悪い</td>
                <% else %>
                  <td><%= log.condition %></td>
                <% end %>
                <td><%= log.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                <% unless current_user.id == 2 %>
                  <td><%= link_to '削除', stool_path(log.id), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %></td>
                <% end %>
                <th></th>
              </tr>
            </tbody> 
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>